.calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 23.375rem;
    background-color: $white;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    @include breakpoint-up(large) {
        width: 57.5rem;
        height: 30rem;
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 2rem;
        gap: 1rem;
        margin-top: 2rem;

        &__flex-large-col1 {
            flex: 1;
            width: 50%;
            // margin: 0;
        }

        &__flex-large-col2 {
            flex: 1;
            width: 50%;

        }
    }

    &__head {
        flex: 1;
        order: 1;
        padding: 1.9rem 2rem 0 2rem;
        p {
            font-size: 1rem;
            color: $darkGrayishCyan1;
            padding-bottom: 0.1rem;
            font-weight: 700;
        }

        @include breakpoint-up(large) {
            height: 5rem;
            width: 23.625rem;
            padding: 2.58rem 0rem 1rem 3rem;

        }
    }

    &__bill-input {
        width: 94%;
        height: 2.8rem;
 
        input {
            width: 100%;
            height: 100%;
            border-radius:.4rem;
            border: none;
            background-color: $lightGrayishCyan2;
            font-family:'Space Mono', monospace;
            font-weight: 700;
            padding-right: 1rem;
            text-align: right;
            background-image: url("../images/icon-dollar.svg");
            background-repeat: no-repeat;
            background-position: 5% 50%;
            // background-size: ;
            &::placeholder {
                opacity: .4;
            }

            &:focus {
                border: 2px solid $strongCyan;
            }
        }
    }

    &__pct {
        flex: 1;
        order: 2;
        padding: 1.85rem 2rem 0 2rem;

        @include breakpoint-up(large) {
            height: 10rem;
            width: 23.625rem;
            padding: 1.39rem 0rem 1.7rem 3rem;
            margin: 0;
        }

        &-grid {
            flex:1;
            order: 3;
            padding-top: .67rem;
           
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
            "five ten" 
            "fifteen twentyfive"
            "fifty custom";
            gap: 1rem;
            margin-left: auto;
            margin-right: auto;
            

            @include breakpoint-up(large) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: 
                "five ten fifteen" 
                "twentyfive fifty custom";
                gap: 1rem;
            }

            &-btn0 {
               
               grid-area: five;
            }
            &-btn1 {
               
                grid-area: twentyfive;
            }
            &-btn2 {
               
                grid-area: ten;
            }
            &-btn3 {
                
                grid-area: fifty;
            }
            &-btn4 {
               
                grid-area: fifteen;
            }
            &-btn5 {
                grid-area: custom;
                background-color: $lightGrayishCyan2;
                width: 89%;
                border-radius:.4rem;
                border: none;
                font-size: 1.4rem;
                font-family:'Space Mono', monospace;
                font-weight: 700;
                padding-right: 1rem;
                text-align: right;

                @include breakpoint-up(large) {
                    width: 82%;
                }
            }
        }
    }

    &__people {
        flex: 1;
        order: 3;
        padding-top: 1.9rem;
        padding-bottom: 2.1rem;
        @include breakpoint-up(large) {
            flex: 1;
            order: 3;
            width: 23.625rem;
            padding: 2.5rem 0rem 3rem 0rem;
            // margin: 0;

        }

        input {
            width: 95%;
            height: 2.8rem;
            padding-right: 1rem;
            border-radius:.4rem;
            border: none;
            background-color: $lightGrayishCyan2;
            background-image: url("../images/icon-person.svg");
            background-repeat: no-repeat;
            background-position: 5% 50%;
        }
    }

    &__result {
        flex: 1;
        order: 4;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: $veryDarkCyan;
        border-radius: 1rem;
        background-color: $veryDarkCyan;
        height: 16rem;
        width: 20.375rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        box-shadow: none;
        border: none;

        @include breakpoint-up(large) {
            flex:8;
            width: 25.75rem;
            height: 26.125rem;
            margin: 2rem 2.5rem 3rem 0rem;
        }

        &-col1 {
            flex: 1;
            order: 1;
            padding-top: 1.8rem;
            padding-left: 2rem;
            line-height: .5;
            padding-right: 0;
            p{
                color: #fff;
            }

            div:nth-child(1) {
                padding-bottom: 1rem;
            }
             div:nth-child(1n){
                letter-spacing: .11rem;
            }
        }
        &-col2 {
            flex: 1;
            order: 2;
            margin-left: auto;
            line-height: 1;
        }

        &-btn {
            flex: 1 0 100%;
            order: 3;
            button {
            height: 3rem;
            width: 85%;
            margin-left: 1.5rem;
            margin-right: auto;
            border-radius: .3rem;
            box-shadow: none;
            border: none;
            background: $strongCyan;
            }
            p {
                margin: 0;
                color: $veryDarkCyan;
                font-size: 1.4rem;
            }

            @include breakpoint-up(large) {
                margin-left: .5rem;
                // margin-left: auto;
                padding-top: 6rem;
            }

           
        }


    }
    
}

.btn-pct {
    height: 3rem;
    width: 100%;
    border-radius: .3rem;
    background-color: $veryDarkCyan;
    box-shadow: none;
    border: none;
    transition: all 200ms ease-in-out;
    p {
        margin: 0;
        color: $lightGrayishCyan2;
        font-size: 1.4rem;
    }

    &:hover {
        background-color: $lightGrayishCyan1;
        p {
            color: $veryDarkCyan;
        }
    }

    @include breakpoint-up(large) {
        width: 7rem;
    //    margin-bottom: 1rem;
    }
}

.btn-pct-active {
    background-color: $strongCyan;
    p {
        color: $veryDarkCyan;
    }
}

.line-br {
        color: $lightGrayishCyan1;
       
}

.tip-amt, .total-result {
    transition: all 200ms ease-in-out;
    text-align: right;
    margin: 0;
    font-size: 1.7rem;
    color: $strongCyan;  
    margin-right: 1.5rem;
    margin-left: auto;

    @include breakpoint-up(large) {
        font-size: 2.5rem;
    }

}
.tip-amt {
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    @include breakpoint-up(large) {
        padding-bottom: 3.5rem;
    }
}

.selected {
    transition: all 300ms ease-in-out;
    border-radius: .3rem;
    background-color: $strongCyan;
    box-shadow: none;
    border: none;
        p {
            margin: 0;
            color: $veryDarkCyan;
            font-size: 1.4rem;
        }
    
}

.people-in {
    text-align: right;
    color: $veryDarkCyan;

}

.space {
    padding-bottom: 1rem;
    @include breakpoint-up(large) {
        padding-bottom: 3.5rem;
    }
}

input[type='number'] {
    -moz-appearance: textfield;
  
    &::-webkit-inner-spin-button { 
      -webkit-appearance: none;
      margin: 0;
    }
  }