html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #c5e4e7;
  line-height: 0;
  margin: 0;
  height: 100%;
}

h1, h2, h3, p {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.header {
  width: 100%;
  height: 8.875rem;
  text-align: center;
}

@media (min-width: 64em) {
  .header {
    padding-top: 8rem;
  }
}

.header h1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  font-size: 1.20rem;
  line-height: 1.5;
  letter-spacing: 10px;
  color: #00494d;
  font-weight: 700;
}

.header h1:not(:last-child) {
  padding-top: 3rem;
}

.calc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 23.375rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

@media (min-width: 64em) {
  .calc {
    width: 57.5rem;
    height: 30rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 2rem;
    gap: 1rem;
    margin-top: 2rem;
  }
  .calc__flex-large-col1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 50%;
  }
  .calc__flex-large-col2 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 50%;
  }
}

.calc__head {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 1.9rem 2rem 0 2rem;
}

.calc__head p {
  font-size: 1rem;
  color: #5e7a7d;
  padding-bottom: 0.1rem;
  font-weight: 700;
}

@media (min-width: 64em) {
  .calc__head {
    height: 5rem;
    width: 23.625rem;
    padding: 2.58rem 0rem 1rem 3rem;
  }
}

.calc__bill-input {
  width: 94%;
  height: 2.8rem;
}

.calc__bill-input input {
  width: 100%;
  height: 100%;
  border-radius: .4rem;
  border: none;
  background-color: #f4fafa;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  padding-right: 1rem;
  text-align: right;
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

.calc__bill-input input::-webkit-input-placeholder {
  opacity: .4;
}

.calc__bill-input input:-ms-input-placeholder {
  opacity: .4;
}

.calc__bill-input input::-ms-input-placeholder {
  opacity: .4;
}

.calc__bill-input input::placeholder {
  opacity: .4;
}

.calc__bill-input input:focus {
  border: 2px solid #26c0ab;
}

.calc__pct {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 1.85rem 2rem 0 2rem;
}

@media (min-width: 64em) {
  .calc__pct {
    height: 10rem;
    width: 23.625rem;
    padding: 1.39rem 0rem 1.7rem 3rem;
    margin: 0;
  }
}

.calc__pct-grid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding-top: .67rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "five ten"  "fifteen twentyfive" "fifty custom";
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 64em) {
  .calc__pct-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "five ten fifteen"  "twentyfive fifty custom";
    gap: 1rem;
  }
}

.calc__pct-grid-btn0 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: five;
}

.calc__pct-grid-btn1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: twentyfive;
}

.calc__pct-grid-btn2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ten;
}

.calc__pct-grid-btn3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: fifty;
}

.calc__pct-grid-btn4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fifteen;
}

.calc__pct-grid-btn5 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: custom;
  background-color: #f4fafa;
  width: 89%;
  border-radius: .4rem;
  border: none;
  font-size: 1.4rem;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  padding-right: 1rem;
  text-align: right;
}

@media (min-width: 64em) {
  .calc__pct-grid-btn5 {
    width: 82%;
  }
}

.calc__people {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding-top: 1.9rem;
  padding-bottom: 2.1rem;
}

@media (min-width: 64em) {
  .calc__people {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 23.625rem;
    padding: 2.5rem 0rem 3rem 0rem;
  }
}

.calc__people input {
  width: 95%;
  height: 2.8rem;
  padding-right: 1rem;
  border-radius: .4rem;
  border: none;
  background-color: #f4fafa;
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

.calc__result {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #00494d;
  border-radius: 1rem;
  background-color: #00494d;
  height: 16rem;
  width: 20.375rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

@media (min-width: 64em) {
  .calc__result {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    width: 25.75rem;
    height: 26.125rem;
    margin: 2rem 2.5rem 3rem 0rem;
  }
}

.calc__result-col1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-top: 1.8rem;
  padding-left: 2rem;
  line-height: .5;
  padding-right: 0;
}

.calc__result-col1 p {
  color: #fff;
}

.calc__result-col1 div:nth-child(1) {
  padding-bottom: 1rem;
}

.calc__result-col1 div:nth-child(1n) {
  letter-spacing: .11rem;
}

.calc__result-col2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: auto;
  line-height: 1;
}

.calc__result-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.calc__result-btn button {
  height: 3rem;
  width: 85%;
  margin-left: 1.5rem;
  margin-right: auto;
  border-radius: .3rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: #26c0ab;
}

.calc__result-btn p {
  margin: 0;
  color: #00494d;
  font-size: 1.4rem;
}

@media (min-width: 64em) {
  .calc__result-btn {
    margin-left: .5rem;
    padding-top: 6rem;
  }
}

.btn-pct {
  height: 3rem;
  width: 100%;
  border-radius: .3rem;
  background-color: #00494d;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.btn-pct p {
  margin: 0;
  color: #f4fafa;
  font-size: 1.4rem;
}

.btn-pct:hover {
  background-color: #c5e4e7;
}

.btn-pct:hover p {
  color: #00494d;
}

@media (min-width: 64em) {
  .btn-pct {
    width: 7rem;
  }
}

.btn-pct-active {
  background-color: #26c0ab;
}

.btn-pct-active p {
  color: #00494d;
}

.line-br {
  color: #c5e4e7;
}

.tip-amt, .total-result {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-align: right;
  margin: 0;
  font-size: 1.7rem;
  color: #26c0ab;
  margin-right: 1.5rem;
  margin-left: auto;
}

@media (min-width: 64em) {
  .tip-amt, .total-result {
    font-size: 2.5rem;
  }
}

.tip-amt {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 64em) {
  .tip-amt {
    padding-bottom: 3.5rem;
  }
}

.selected {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: .3rem;
  background-color: #26c0ab;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.selected p {
  margin: 0;
  color: #00494d;
  font-size: 1.4rem;
}

.people-in {
  text-align: right;
  color: #00494d;
}

.space {
  padding-bottom: 1rem;
}

@media (min-width: 64em) {
  .space {
    padding-bottom: 3.5rem;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
